cardDescription {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fcfcfc;
  position: absolute;
  width: 369px;
  height: 34px;
  left: 30px;
  top: 257px;
}

cardlabel {
  font-family: "Lora", serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  color: #fcfcfc;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  line-height: 61px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
}
