cardbody {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fcfcfc;
  position: absolute;
}

cardlabel {
  font-family: serif;
  font-size: 48px;
  font-weight: bold;
  color: #fcfcfc;
  position: absolute;
  width: 578px;
  height: 156px;
  left: 30px;
  top: 21px;
}
